* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
  --white: rgb(202, 202, 202);
  --black: rgb(22, 22, 22);
  --color1: rgb(220, 220, 220);
  --color2: #0b3bd9;
  --color3: #0a2648;
  --color4: #05172a;
  --button: rgba(29, 83, 0, 0.816);
}

body {
  background-color: var(--color1) !important;
}


/* nav */
.logo {
  height: 40px; /* Adjust the height as needed */
  width: auto; /* Let the width adjust automatically */
}

/* hero */
#hero {
  width: 100%;
  height: 120vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(img/hero2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero .container {
  width: 90% ;
  margin: 0 auto;
  text-align: left; 
}
#hero .container h1 {
  color: var(--white);
  font-size: 4.5rem;
}
#hero .container p {
  color: var(--white);
  font-size: 1.5rem;
}
#hero .container .button {
  cursor: pointer;
}

/* about */

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}
.centered-text h4 {
  font-size: 2em;
}

.img-area {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.img-area img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

/* about 2 */
#about2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/cameraInstall.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: var(--white);
  padding: 40px;
}
#about2 h2 {
  font-size: 3rem;
}
#about2 p {
  width: 70%;
  margin: auto;
  font-weight: 400;
}

/* contact */

/* footer */
.footerLogo {
  width: 200px;
  height: 200px;
}

/* media */
@media (max-width: 575.98px) {
    /* Extra small devices (phones) */
    #hero {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    #hero h1 {
        font-size: 28px;
    }

    #hero p {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* Small devices (landscape phones) */
    #hero {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    #hero h1 {
        font-size: 32px;
    }

    #hero p {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Medium devices (tablets) */
    #hero {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    #hero h1 {
        font-size: 48px;
    }

    #hero p {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    /* Large devices (desktops) */
    #hero {
        padding-top: 250px;
        padding-bottom: 250px;
    }

    #hero h1 {
        font-size: 64px;
    }

    #hero p {
        font-size: 32px;
    }
}
